#title {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 40px;
letter-spacing: -2.4px;
word-spacing: 3.6px;
color: #FFFFFF;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

#subtitle {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 20px;
letter-spacing: -1.4px;
word-spacing: 3.6px;
color: #FFFFFF;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

body {
 background: rgb(7,2,110);
background: -moz-linear-gradient(93deg, rgba(7,2,110,1) 2%, rgba(0,15,144,1) 14%, rgba(0,52,170,1) 26%, rgba(10,97,200,1) 85%, rgba(3,53,112,1) 93%);
background: -webkit-linear-gradient(93deg, rgba(7,2,110,1) 2%, rgba(0,15,144,1) 14%, rgba(0,52,170,1) 26%, rgba(10,97,200,1) 85%, rgba(3,53,112,1) 93%);
background: linear-gradient(93deg, rgba(7,2,110,1) 2%, rgba(0,15,144,1) 14%, rgba(0,52,170,1) 26%, rgba(10,97,200,1) 85%, rgba(3,53,112,1) 93%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07026e",endColorstr="#033570",GradientType=1); 
}
 
#bodytext {
font-family: Arial, Helvetica, sans-serif;
font-size: 23px;
letter-spacing: -0.8px;
word-spacing: 3.6px;
color: #FFFFFF;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

hr{
        height: 4px;
        background-color: #ccc;
        border: none;
    }
#buttontext {
  background-color: #000280;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#buttontext:hover {
  background-color: #334fcd;
}
#buttontext:active {
  background-color: #3359cd;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
